# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\minecraft\sync_advancements\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
